Source: golang-github-oklog-ulid
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Martina Ferrari <tincho@debian.org>,
Section: devel
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 12),
               dh-golang,
               golang-any,
Standards-Version: 4.4.1
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-oklog-ulid
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-oklog-ulid.git
Homepage: https://github.com/oklog/ulid
XS-Go-Import-Path: github.com/oklog/ulid

Package: golang-github-oklog-ulid-dev
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: ULID generation library for Golang
 Universally Unique Lexicographically Sortable Identifier (ULID) in Go
 .
 A Go port of alizain/ulid (https://github.com/alizain/ulid) with binary
 format implemented.
 .
 A ULID is a replacement for GUID/UUIDs with some useful properties:
 .
  * Lexicographically sortable.
  * Compatible with UUID/GUIDs.
  * Very fast generation.
  * Canonically encoded as a 26 character string.
